@media only screen and (min-width:78em){

    .navigation {
        width: 800px;
        margin:16px auto;
    }

    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
  }
  
  
    footer p{
      text-align: center;
    }

    img:hover {
      opacity: 0.5;
      box-shadow: 5px 10px 8px #888888;
    }
  }

  
