@media only screen and (min-width:42em) {


    nav {
        max-width: 100%;
        padding-left: 5%;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .navigation {
        grid-template-columns: repeat(7, auto);
    }

    .navigation li {
        display: block;
    }

    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active,
    .navigation a:focus {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    footer p {
        text-align: center;
    }
    .loading {
        background-color: white;
        width: 100%;
     
    }
    
}