main {
    display: grid;
    grid-template-columns: 1fr;
}

body {
    background-color: #d6e2e9;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    display: block;
    padding: 0%;
    text-align: left;
    background-color: #145374;
    width: auto;
}

header p {
    color:#e8e8e8;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0px;
    padding: 25px;
    padding-bottom: 5px;
}

h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 3px;
    margin: 20px;
   
}

p {
    text-align: left;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 16px;
}


section {
    padding: 20px;
}

footer {
    background-color: #00303f;
    bottom: 0%;
    width: 100%;
    padding: 0;
}

footer p {
    color: #e8e8e8;
    text-align: left;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 3px;
    padding: 0%;
}

footer a {
    color: #e8e8e8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    text-align: center;
}


div {
    width: 100%;
    display: inline-block;
    margin-bottom: 0%;
}

nav {
    margin-top: 10px;
    max-width: 100%;
    background-color: #00303f;
}


.logo {
    width: 90px;
    float: left;
    margin: 5px;
    padding: 10px;
}

.navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

.navigation li:first-child {
    display: block;
    font-size: large;
}

.navigation li {
    display: none;
}

/* MUST BE IN THIS ORDER */
.navigation a:link, 
.navigation a:visited, 
.navigation a:hover, 
.navigation a:active,
.navigation a:focus {
    display:block;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bold;
}

.navigation a:hover {
    color: #00303f;
    background-color: #e8e8e8;
}

.navigation.responsive li {
    display: block;
}

.selected {
    background-color: #145374;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:5%;
    margin-top: 5%;
}


.loading {
    background-color: white;
    max-width: 100%;
    position: relative;
    padding: 2%;
}

