
body {
    background-color: #d6e2e9;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    padding-bottom: 30px;
}

header {
    display: block;
    padding: 0px;
    text-align: left;
    background-color: #145374;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0px;
    padding: 25px;
    padding-bottom: 5px;
    font-size: 35px;
}

nav {
    background-color: #00303f;
}
nav ul{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
}

nav li {
    float: left;
    display: inline;
    background-color: #00303f;
    padding: 15px;
  }
  
li a {
    color: #e8e8e8;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 3px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
}

li a:hover {
    background-color: #e8e8e8;
    color: #00303f;
    padding: 15px;
}

h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 3px;
    margin: 20px;
    font-size: 45px;
   }
   
h3 {
   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 20px;
}

p {
    text-align: left;
    font-family: 'Padauk', sans-serif;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 16px;
   }
   
img {
    display: block;
    margin-left: auto;
    width: 50%;
    align-items: start;
    margin: 0px 220px 0px 0px;
}

section {
    padding: 20px;
}

footer {
    background-color:#00303f;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer p {
     color: #e8e8e8;
     padding: 20px;
     text-align: center;
     font-family: 'Padauk', sans-serif;
     letter-spacing: 3px;
}

footer a {
    color:#e8e8e8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
}

.logo {
    width: 60px;
    float: left;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.site-header {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 35px;
    background-color: #145374;
    width:70%;
    margin: 10px;
}

.site-nav {
    background-color: #00303f;
    color: #e8e8e8;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    width:70%;
    margin: 10px;
}

.footer-nav {
    color: #e8e8e8;
    font-family: 'Padauk', sans-serif;
    background-color: #00303f;
    letter-spacing: 3px;
    width:70%;
    margin: 10px;
}

.head2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
    width:70%;
    margin: 10px;
}

.head3 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    width:70%;
    margin: 10px;
}

.par-text {
    width:70%;
    color: #212529;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    margin: 10px;
}

.table-primary-nav {
    width:70%;
    background-color: #00303f;
    color: #d6e2e9;
    margin: 10px;
}

.table-nav-hover {
    width:70%;
    background-color: #fffdfb;
    margin: 10px;
}

.table-footer {
    width:70%;
    background-color: #00303f;
    color: #d6e2e9;
    margin: 10px;
}

.table-header {
    width:70%;
    background-color: #145374;
    color: #d6e2e9;
    margin: 10px;
}

.table-background {
    width:70%;
    background-color: #d6e2e9;
    margin: 10px;
}