html {
    background-color: #F2E8DC;
}

body {
    background-color: #D9CDBF;
}

header {
    background-color: #192E40;
}

h1 {
    background-color: #192E40;
    color: #F2E8DC;
}

h2 {

}

p {

}

ul {
    text-decoration: none;
}