body {
    background-color: #d6e2e9;
    margin: 0px;
}

header {
    display: block;
    padding: 0px;
    text-align: left;
    background-color: #145374;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0px;
    padding: 25px;
    padding-bottom: 5px;
    font-size: 35px;
}

nav {
    background-color: #00303f;
}
nav ul{
    list-style-type: none;
    margin: 20px 0px;
    padding: 0px;
    overflow: hidden;
    width: 100%;
    font-size: 16px;
}

nav li {
    float: left;
    display: inline;
    background-color: #00303f;
    padding: 15px;
  }
  
  li a {
    color: #e8e8e8;
    text-decoration: none;
    font-size: larger;
    letter-spacing: 3px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
  }

li a:hover {
    background-color: #e8e8e8;
    color: #00303f;
    padding: 15px;
}

h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 3px;
    margin: 0px;
    font-size: 25px;
   }
   
h3 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 20px;
}
p {
    color: #212529;
    font-family: 'Padauk', sans-serif;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 16px;
   }
   
img {
    padding: 20px;
    width: 20%;
}

section {
    padding: 20px;
}

footer {
    background-color:#00303f;
}

footer p {
     color: #e8e8e8;
     padding: 20px;
     margin: 0px;
     text-align: center;
     font-family: 'Padauk', sans-serif;
     letter-spacing: 3px;
}

footer a {
    color:#e8e8e8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
}

table, th, td {
    border: 0.5px solid black;
    padding: 10px;
    font-size: 15px;
}

table {
    color: #212529;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    text-align: left;
}
.logo {
    width: 60px;
    float: left;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.table-head {
    font-size: 15px;
    font-weight: bolder;
}

.site-header {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 35px;
    background-color: #00303f;
}

.site-nav {
    background-color: #00303f;
    color: #e8e8e8;
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

.footer-nav {
    color: #e8e8e8;
    padding: 20px;
    margin: 0px;
    text-align: center;
    font-family: 'Padauk', sans-serif;
    background-color: #00303f;
    letter-spacing: 3px;
}

.head2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}

.head3 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
}

.par-text {
    color: #212529;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
}

.table-background {
    background-color: #d6e2e9;
}

.table-header {
    background-color: #145374;
}

.table-primary-nav {
    background-color: #00303f;
}

.table-nav-hover {
    background-color: #fffdfb;
}

.table-footer {
    background-color: #00303f;
}