
body {
    background-color: #fffdfb;
}

header {
    margin: 40px;
    display: block;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    background-color: #145374;
}

h2 {
 color: black;
}

p {
 color: black;
}

nav {
    background-color: #145374;
}

ul{
    list-style-type: none;
}


li {
    float: left;
    display: inline;
  }
  
  a {
    display: block;
    padding: 8px;
    color: #e8e8e8;
    text-decoration: none;
  }