html {
  background-color: #e6e6e6;
  padding: 1px 80px;
  margin: 0px;
}

header {
  background-color:#353535;
  margin: -20px;
}

body {
  background-color: #e6e6e6;
  margin: 10px;
}

main {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
}

h1 {
  color: #e6e6e6;
  font-family: "Comfortaa", cursive;
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
  padding: 8px;
  text-transform: upper;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #e6e6e6;
  text-transform: uppercase;
  text-align: center;
  background-color: #353535;
}

img {
  width: 55%;
  border-radius: 5px;
  box-shadow: 5px 10px 5px #888888;
  justify-content: center;
}

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  color: #706677;
  padding: 25px 40px;
  text-align: justify;
}

a {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  color: #706677;
  text-transform: uppercase;
  text-align: center;
  color: #706677;
  padding: 15px;
  text-decoration: underline;
  display: block;
}

section {
  background-color: white;
  padding: 20px;
  margin: 30px;
  border-radius: 15px;
}

.whiteSpaceImg {
  width: 59%;
}