body {
    background-color: #edf6f9;
}

h1 {
    color: #9d8189;
}
 img {
     width: 50%;
     border-radius: 5px;
     grid-row: 3;
 }

 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 15px;
 }

.whiteSpace {
    grid-column: 1;
}

.contrast {
    grid-column: 2;
}

.alignment {
    grid-column: 3;
}