@media screen and (min-width: 32.5em) {
  
    main {
     display: flex;
     flex-direction: column;

  }

  footer {
   
  }

  .navigation {
    background-color: #00303f;
    display: flex;
 
  }

  .navigation li a {
    color: #e8e8e8;
  }

  
}
