@media screen and (min-width: 32.5em) {
  
    main {
    grid-template-columns: 1fr 1fr;
  }

  img {
    float: right;
  }
  .navigation {
    background-color: #00303f;
    display: flex;
}

  
  .navigation li:first-child {
    display: none;
  }
  
  .navigation li {
    display: block;
    flex: 1 1 100%;
  }
  
  .navigation li a {
    color: yellow;
  }
  
}
