@media only screen and (min-width:34.5em) {
    nav {
        max-width: 100%;
    }

    .navigation {
        grid-template-columns: repeat(7, auto);
    }

    .navigation li {
        display: block;
    }

    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active,
    .navigation a:focus {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    footer p {
        text-align: right;
    }

    .forecast-img {
        display:;
        width: 100%;
    }

    .five-day-forecast {
        margin-bottom: 3%;
        background-color: #e8e8e8;
        text-align: left;
    }
    
    .article {
        margin-top: 0%;
    }


}