
body {
    background-color: #d6e2e9;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    padding-bottom: 30px;
}

header {
    display: block;
    padding: 0px;
    text-align: left;
    background-color: #145374;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0px;
    padding: 25px;
    padding-bottom: 5px;
    font-size: 35px;
}

nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: tomato;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
	color: black;
	font-weight: 700;
}
.navigation a:hover {
	color: white;
	background-color: black;
}

.navigation {
    background-color: #00303f;
}

  .responsive li {
      display: block;
  }
    
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover {
    display: block;
}

h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 20px;
    letter-spacing: 3px;
    margin: 20px;
    font-size: 45px;
   }
   
h3 {
   
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 20px;
}

p {
    text-align: left;
    padding: 0px 0px 0px 20px;
    letter-spacing: 3px;
    font-size: 16px;
   }
   
img {
    display: block;
    margin-left: auto;
    width: 50%;
    align-items: start;
    margin: 0px 220px 0px 0px;
}

section {
    padding: 20px;
}

footer {
    background-color:#00303f;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

footer p {
     color: #e8e8e8;
     padding: 20px;
     text-align: center;
     font-family: 'Padauk', sans-serif;
     letter-spacing: 3px;
}

footer a {
    color:#e8e8e8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
}


.logo {
    width: 60px;
    float: left;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

