/*Small*/
main {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    max-width: 100%;
}

body {
    background-color: #d6e2e9;
    margin: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

section {
    padding: 20px;
}

.selected {
    background-color: #145374;
}

header {
    display: block;
    padding: 0%;
    text-align: left;
    background-color: #145374;
    width: auto;
}

header p {
    color: #e8e8e8;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: #fffdfb;
    font-family: 'Quicksand', sans-serif;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 0px;
    padding: 25px;
    padding-bottom: 5px;
}

h2 {
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}

.welcome{
    padding-bottom: 5%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    font-size: xx-small;
    padding-bottom: 5%;
    padding-top: -10%;
}

p {
    text-align: left;
    letter-spacing: 3px;
    font-size: 16px;
}

img {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 10%;
}

footer {
    background-color: #00303f;
    width: 100%;
}

footer p {
    color: #e8e8e8;
    text-align: left;
    font-family: 'Padauk', sans-serif;
    letter-spacing: 3px;
}

footer a {
    color: #e8e8e8;
    font-family: 'Padauk', sans-serif;
    font-size: 16px;
    text-align: center;
}


div {
    width: 100%;
    display: inline-block;
    margin-bottom: 0%;
}

nav {
    margin-top: 10px;
    max-width: 100%;
    background-color: #00303f;
}

.map {
    padding: 3%;
}

.logo {
    width: 90px;
    float: left;
    margin: 5px;
    padding: 10px;
}

.navigation {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    letter-spacing: 3px;
}

.navigation li:first-child {
    display: block;
    font-size: large;
}

.navigation li {
    display: none;
}

/* MUST BE IN THIS ORDER */
.navigation a:link,
.navigation a:visited,
.navigation a:hover,
.navigation a:active,
.navigation a:focus {
    display: block;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: #e8e8e8;
    font-weight: bold;
}

.navigation a:hover {
    color: #00303f;
    background-color: #e8e8e8;
}

.navigation.responsive li {
    display: block;
}

.contact-header {
    text-transform: uppercase;
}

.contact {
    background-color: #145374;
    margin-top: 5%;
    margin-bottom: -5%;
    color: #e8e8e8;
}

.icon {
    color: black;
    display: inline;
    font-size: xx-large;
    text-align: center;
}

.map {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.social-icon {
    display: none;
}

.sodaSpringsDiv,
.preston,
.fishHaven {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
    box-shadow: 0px 0px 10px 3px grey;
    border-radius: 10px;
}

.towns p{
    text-align: center;
}

.towns div{
    width: 80%;
    margin: 10%;
    margin-top: 1%;
}


/*medium*/
@media only screen and (min-width:42em) {

    .social-icon {
        float: right;
        margin-top: 2%;
        padding: 1%;
        display: inline;
        width: 5%;

    }

    .contact p {
        text-align: right;
        display: block;
        margin-right: 7%;
    }

    .map {
        width: 40%;
        float: left;
        margin-top: -15%;
        margin-left: 7%;
    }

    .media {
        margin-right: 3%;
    }

    .top-of-nav {
        padding-left: 10%;
    }

    nav {
        max-width: 100%;
        padding-left: 10%;
    }

    .navigation {
        grid-template-columns: repeat(7, auto);
    }

    .navigation li {
        display: block;
    }

    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active,
    .navigation a:focus {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    footer p {
        text-align: right;
    }

    footer p {
        text-align: left;
        margin: 1px;
    }
    
    .prestonTown,
    .FishHaven {
        background-color: white;
        display: inline-grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        margin: 5%;
        padding: 5%;
        max-width: 100%;
        align-items: center;
    }

    .sodaSprings{
        background-color: white;
        display: inline-grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
        margin: 5%;
        padding: 5%;
        max-width: 100%;
        align-items: center;
    }

    .prestonTown h3{
        padding-top: -15%;
    }

    .prestonTown h2,
    .prestonTown h3,
    .prestonTown p,
    .FishHaven h2,
    .FishHaven h3,
    .FishHaven p {
        grid-column: 1;
    }

    .sodaSprings h2,
    .sodaSprings h3,
    .sodaSprings p {
        grid-column: 2;
    }

    .sodaSprings img{
        grid-column: 1;
        grid-row: 1/6;
        width: 100%;
        padding: 10%;
        margin-left: -18%;
    }

    .prestonTown img,
    .FishHaven img {
        grid-column: 2;
        grid-row: 1/6;
        width: 100%;
        padding: 10%;
    }

    .map {
        width: 50%;
        margin-left: 0%;
        padding: 0%;
    }
}


/*Large*/
@media only screen and (min-width:78em) {
    .towns {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation {
        width: 800px;
        margin: 16px auto;
    }

    footer p {
        text-align: center;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding-top: 5%;
        padding-bottom: 5%;
        max-width: 100%;
    }

    .contact p {
        margin-right: 10%;
    }

    .media {
        margin-right: 8%;
    }

    .social-icon {
        width: 3%;
        margin-top: 0;
    }

    .sodaSprings img,
    .prestonTown img,
    .FishHaven img {
        width: 130%;
        padding: 1%;
        margin: 5%;
        box-shadow: 0px 0px 10px 3px grey;
    }

    .sodaSprings img {
        margin: 2%;
    }

    .sodaSprings,
    .prestonTown,
    .FishHaven {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin: 0%;
        border-radius: 25px;

    }

    h2{
        font-size: xx-large;
    }
}