@media only screen and (min-width:42em) {
    .top-of-nav {
        padding-left: 10%;
    }
    nav {
        max-width: 100%;
        padding-left: 10%;
    }

    main {
        padding-left: 10%;
        padding-right: 10%;
    }

    .navigation {
        grid-template-columns: repeat(7, auto);
    }

    .navigation li {
        display: block;
    }

    .navigation a:link,
    .navigation a:visited,
    .navigation a:hover,
    .navigation a:active,
    .navigation a:focus {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    footer p {
        text-align: right;
    }

    table {
        font-size: small;
        text-align: center;
        border: none;
        padding: 0;
    }

    .five-day-heading{
        background-color:#d6e2e9;
        text-align: center;
    }

    .contact {
        margin-left: -13%;
        margin-right: -13%;
        margin-bottom: -7%;
    }

    .remove-padding {
        padding-bottom: 8%;
    }

    .five-day-forecast {
        background-color: #e8e8e8;
        text-align: center;
        padding: 0;
        border: 2px solid black;
    }

    .five-day-forecast img {
        width: 100%;
        display: block;
    }
    
    .article {
        margin-top: 0%;
    }
    
    .article-img {
        width: 60%;
        margin-left: 3%;

    }

    .social-icon {
        float: right;
        margin-top: 2%;
        padding: 1%;
        display: inline;
        width: 5%;
    }

    .contact p{
        text-align: right;
        display: block;
    }

    .map {
        width: 40%;
        float: left;
        margin-top: -15%;
    }

    .media {
        display: inline;
    }

    footer p{
        text-align: left;
        margin: 1px;
    }
    
    th {
        padding: 3%
    }
    
}